<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond %{SCRIPT_FILENAME} !-f
 RewriteCond %{SCRIPT_FILENAME} !-d
 RewriteRule ^(.*)$ index.php?pg=$1
</IfModule>
<IfModule mod_env.c>
    SetEnv CI_ENV production
</IfModule>